// BG
$main-bg: #081c15;
$main-bg-darker: #081c15;
$main-bg-softer: #2d6a4f;
$main-bg-soft: #40916c;

$main-hover : #40916c;
$main-hover-light : rgba(255,255,255,0.4);

$soft-bg: #49a078;
$dark-bg: #1f2421;
//TEXT
$main-color: white;
$soft-color: #9cc5a1;
$dark-color: #1f2421;

$color: #081c15;
$color: #1b4332;
$color: #2d6a4f;
$color: #40916c;
$color: #52b788;
$color: #74c69d;
$color: #95d5b2;
$color: #b7e4c7;
$color: #d8f3dc;